*{
  margin: 0;
  padding: 0;
  list-style: none;
}

html,body{
  background: #f5f6f7;
}

header{
  position: absolute;
  top:0;
  height: 44px;
  width: 100%;
  line-height: 44px;
  background: #fff;
  text-align: center;
  border-bottom: 1px solid #ebebeb;
  z-index: 99;
  > span{

  }
}

footer{
  position: absolute;
  height: 44px;
  width: 100%;
  background: #fff;
  border-top: 1px solid #ebebeb;
  z-index: 99;
  bottom: 0;
  text-align: center;
  .nnn{
    background: #eee;
    display: flex;
    > li{
      flex:auto;
    }
  }
}

.centerWrap{
  padding-top: 44px;
}