<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/app.css">
</head>
<body>
    <header>
        <a href="habits.html" class="icons"><i class="icon-hamburger"></i></a>
        <h2>TODAY</h2>
        <a href="add.html" class="icons"><i class="icon-plus"></i></a>
    </header>
    <section class="centerWrap">
        <div class="info-total">
            <div class="item-tit">
                <h3>仰卧起坐</h3>
                <p class="sub-tit">首次记录：2017年12月11日</p>
            </div>
            <div class="item-amount">
                <span>500</span><span>个</span>
            </div>
        </div>
        <div class="info-detail">
            <div class="info-detail-box">
                <h3>记录天数</h3>
                <div class="info-box total">
                    <p class="">
                        <span>32</span>
                        <span>累计记录</span>
                    </p>
                    <p class="">
                        <span>32</span>
                        <span>平均每周</span>
                    </p>
                    <p class="">
                        <span>32</span>
                        <span>最长连续</span>
                    </p>
                    <p class="">
                        <span>32</span>
                        <span>当前连续</span>
                    </p>
                </div>
            </div>
            <div class="info-detail-box">
                <h3>合格天数</h3>
                <div class="info-box passed">
                    <p class="">
                        <span>32</span>
                        <span>累计记录</span>
                    </p>
                    <p class="">
                        <span>32</span>
                        <span>平均每周</span>
                    </p>
                    <p class="">
                        <span>32</span>
                        <span>最长连续</span>
                    </p>
                    <p class="">
                        <span>32</span>
                        <span>当前连续</span>
                    </p>
                </div>
            </div>

        </div>
        <div class="info-chart">
            <ul class="common-tab">
                <li>合格趋势</li>
                <li class="on">数量趋势</li>
            </ul>
            <div class="chart">

            </div>
        </div>
        <div class="info-canlender">
            <div class="current-month">
                <span>2017年12月</span>
                <p>
                    <span>显示数量</span>
                    <span class="switch open">
                        <i class="block"></i>
                    </span>
                </p>
            </div>
            <div class="canlender-box">
                <div class="week">
                    <span>周日</span><span>周一</span><span>周二</span><span>周三</span><span>周四</span><span>周五</span><span>周六</span>
                </div>
                <div class="date">
                    <div class="datebox">
                    </div>
                    <div class="datebox">
                        <div class="itm">
                            <span>1</span>
                        </div>
                    </div>
                    <div class="datebox">
                        <div class="itm">
                            <span>1</span>
                        </div>
                    </div>
                    <div class="datebox">
                        <div class="itm">
                            <span>1</span>
                        </div>
                    </div>
                    <div class="datebox">
                        <div class="itm">
                            <span>1</span>
                        </div>
                    </div>
                    <div class="datebox">
                        <div class="itm">
                            <span>1</span>
                        </div>
                    </div>
                    <div class="datebox">
                        <div class="itm">
                            <span>12</span>
                        </div>
                    </div>
                    <div class="datebox">
                        <div class="itm">
                            <span>13</span>
                        </div>
                    </div>
                    <div class="datebox">
                        <div class="itm">
                            <span>14</span>
                        </div>
                    </div>
                    <div class="datebox">
                        <div class="itm">
                            <span>15</span>
                        </div>
                    </div>
                    <div class="datebox">
                        <div class="itm">
                            <span>1</span>
                        </div>
                    </div>
                    <div class="datebox">
                        <div class="itm">
                            <span>1</span>
                        </div>
                    </div>
                    <div class="datebox">
                        <div class="itm">
                            <span>1</span>
                        </div>
                    </div>
                    <div class="datebox">
                        <div class="itm">
                            <span>1</span>
                        </div>
                    </div>
                    <div class="datebox">
                        <div class="itm">
                            <span>13</span>
                        </div>
                    </div>
                    <div class="datebox">
                        <div class="itm">
                            <span>14</span>
                        </div>
                    </div>
                    <div class="datebox">
                        <div class="itm">
                            <span>15</span>
                        </div>
                    </div>
                    <div class="datebox">
                        <div class="itm">
                            <span>1</span>
                        </div>
                    </div>
                    <div class="datebox">
                        <div class="itm">
                            <span>1</span>
                        </div>
                    </div>
                    <div class="datebox">
                        <div class="itm">
                            <span>1</span>
                        </div>
                    </div>
                    <div class="datebox">
                        <div class="itm">
                            <span>1</span>
                        </div>
                    </div>
                    <div class="datebox">
                        <div class="itm">
                            <span>1</span>
                        </div>
                    </div>
                    <div class="datebox">
                        <div class="itm">
                            <span>1</span>
                        </div>
                    </div>
                    <div class="datebox">
                        <div class="itm">
                            <span>1</span>
                        </div>
                    </div>
                    <div class="datebox">
                        <div class="itm">
                            <span>1</span>
                        </div>
                    </div>
                </div>
            </div>
            <p class="marks"><a href="logs.html">查看所有备注</a></p>
        </div>
    </section>
    <footer>
        <nav class="navigation">
            <a href="index.html">TODAY</a>
            <a href="habits.html">HABITS</a>
            <a href="set.html">SET</a>
        </nav>
    </footer>
</body>
</html>